{% extends 'base.html' %}

{% block content %}


<div class='container'>
  <div class='row'>
    <div class='col-12 col-md-3'>
      <img id='img' src='https://image.tmdb.org/t/p/w200/{{movie.poster_url}}' class="card-img-top poster-img" alt="">
    </div>
    <div class='col-md-9'>
      <h1>{{movie.title}}</h1>
      <h5> 
        장르: {% for genre in movie.genre.all %}
        {{genre.name}}
        {% endfor %}
      </h5>
      <h5>{{movie.release_date}} 개봉 </h5>
      <h5> <i class="fas fa-star" style="color: yellow;"></i>  {{movie.rank}}</h5>
      
      <h5>{{movie.overview|truncatechars:200}}</h5>
      <h5>언어: {{movie.original_lang}}</h5>

    </div>
  </div>
  <br>
  <button class='btn btn-primary'>리뷰 작성</button>
</div>
<style>
  div > h1{
    color: white;
    font-weight: 600;
  }
  h5 {
    color:whitesmoke;
    font-weight: 600;
  }
</style>
{% endblock %}

